*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
div{
    padding: 5px;
    border: 2px solid black;
}
nav{
    padding:15px 200px 15px 0px;
    margin: 15px;
    background-color: black;
}
    


    span{
        margin: 0px 10pX 0PX 10PX;
        padding: 0px 20px 0px 20px;
        color: white;
        

}
#log{
    font-weight: bold;
    margin: 0px 10px 0px 10px;

}
.center{
    margin: 0px 280px 0px 280px;
}
.l1{
    padding-left: 250;

}
#btn{

    height:30px;
    width: 90px;
    border-radius: 35%;
    background-color: lightseagreen;
    color: white;
    margin: 0px 45px 0px 30px;

}
.l2{
    padding-right: 250;
    text-align: center;
}
#btn1{
    height:30px;
    width: 90px;
    border-radius: 35%;
    background-color: lightseagreen;
    color: white;
}
.logo{
    margin-left: 685px;
    
       font-weight: bold;
   
    
}
#logo1{
    
    font-weight: bold;
    }
.right{
    margin-left: 625px;
    
}
#btn2{
    height:30px;
    width: 90px;
    border-radius: 35%;
    background-color: lightseagreen;
    color: white;
}
.l3{
    padding-left: 250;
    text-align: center;

}
